[Unit]
After=syslog.target network.target systemd-user-sessions.service plymouth-quit-wait.service

[Service]
ExecStart=/usr/local/bin/grdserver.sh

[Install]
WantedBy=default.target
